<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
   <parameter name="testType" value="smoke"/>
    <classes>
       <!-- <class name="io.mosip.prereg.scripts.Create_PreRegistration"/> -->
       <class name="io.mosip.kernel.scripts.otpGenerate"/>
        <!-- <class name="io.mosip.kernel.scripts.DeviceRegister"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
