{{- range $module := $.Values.modules }}
{{- if $module.enabled }}
---
apiVersion: {{ include "common.capabilities.cronjob.apiVersion" $ }}
kind: CronJob
metadata:
  name: {{ template "uitestrig.cronjob" $ }}-{{ $module.name }}
  namespace: {{ $.Release.Namespace }}
  annotations:
    {{- if $.Values.commonAnnotations }}
    {{- include "common.tplvalues.render" ( dict "value" $.Values.commonAnnotations "context" $ ) | nindent 4 }}
    {{- end }}
  labels: {{- include "common.labels.standard" $ | nindent 4 }}
    {{- if $.Values.commonLabels }}
    {{- include "common.tplvalues.render" ( dict "value" $.Values.commonLabels "context" $ ) | nindent 4 }}
    {{- end }}
spec:
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  schedule: {{ $.Values.crontime }}
  jobTemplate:
    spec:
      backoffLimit: 0
      template:
        spec:
          serviceAccountName: {{ template "uitestrig.serviceAccountName" $ }}
          restartPolicy: Never
          containers:
          - name: {{ $module.name }}
            image: {{ $module.image.registry }}/{{ $module.image.repository }}:{{ $module.image.tag }}
            imagePullPolicy: {{ default "Always" $module.image.pullPolicy }}
            {{- if $.Values.lifecycleHooks }}
            lifecycle: {{- include "common.tplvalues.render" (dict "value" $.Values.lifecycleHooks "context" $) | nindent 12 }}
            {{- end }}
            {{- if $.Values.containerSecurityContext.enabled }}
            securityContext: {{- omit $.Values.containerSecurityContext "enabled" | toYaml | nindent 12 }}
            {{- end }}
            {{- if $.Values.command }}
            command: {{- include "common.tplvalues.render" (dict "value" $.Values.command "context" $ ) | nindent 12 }}
            {{- end }}
            {{- if $.Values.args }}
            args: {{- include "common.tplvalues.render" (dict "value" $.Values.args "context" $ ) | nindent 12 }}
            {{- end }}

            env:
              - name: container_user
                value: "{{ $.Values.containerSecurityContext.runAsUser }}"
              - name: JDK_JAVA_OPTIONS
                value: "{{ $.Values.additionalResources.javaOpts }}"
              - name: modules
                value: "{{ $module.name }}"

              {{- if $.Values.extraEnvVars }}
              {{- include "common.tplvalues.render" ( dict "value" $.Values.extraEnvVars "context" $ ) | nindent 14 }}
              {{- end }}

              {{- if $module.extraEnvVars }}
              {{- include "common.tplvalues.render" ( dict "value" $module.extraEnvVars "context" $ ) | nindent 14 }}
              {{- end }}

            # ============================================================
            # ENV FROM: GLOBAL + MODULE-WISE CONFIGMAPS + SECRETS
            # ============================================================
            envFrom:
              # -----------------------------
              # Global ConfigMaps
              # -----------------------------
              {{- if $.Values.extraEnvVarsCM }}
              {{- range $.Values.extraEnvVarsCM }}
              - configMapRef:
                  name: {{ . }}
              {{- end }}
              {{- end }}

              # -----------------------------
              # Global Secrets
              # -----------------------------
              {{- if $.Values.extraEnvVarsSecret }}
              {{- range $.Values.extraEnvVarsSecret }}
              - secretRef:
                  name: {{ . }}
              {{- end }}
              {{- end }}

              # -----------------------------
              # Module-wise ConfigMaps
              # -----------------------------
              {{- if $module.extraEnvVarsCM }}
              {{- range $module.extraEnvVarsCM }}
              - configMapRef:
                  name: {{ . }}
              {{- end }}
              {{- end }}

              # -----------------------------
              # Module-wise Secrets
              # -----------------------------
              {{- if $module.extraEnvVarsSecret }}
              {{- range $module.extraEnvVarsSecret }}
              - secretRef:
                  name: {{ . }}
              {{- end }}
              {{- end }}

            ports:
              - name: spring-service
                containerPort: {{ $.Values.springServicePort }}

            volumeMounts:
              {{- if $.Values.enable_insecure }}
              - mountPath: /usr/local/openjdk-11/lib/security/cacerts
                name: cacerts
                subPath: cacerts
              {{- end }}
              {{- if $.Values.uitestrig.volumes }}
              {{- range $volume_name, $volume_value := $.Values.uitestrig.volumes.configmaps }}
              - name: {{ $volume_name }}
                mountPath: {{ $volume_value.volumeMounts.mountPath }}
              {{- end }}
              {{- end }}

          volumes:
            {{- if $.Values.enable_insecure }}
            - name: cacerts
              emptyDir: {}
            {{- end }}
            {{- if $.Values.uitestrig.volumes }}
            {{- range $volume_name, $volume_value := $.Values.uitestrig.volumes.configmaps }}
            - name: {{ $volume_name }}
              configMap:
                defaultMode: {{ $volume_value.defaultMode }}
                name: {{ $volume_name }}
            {{- end }}
            {{- end }}
{{- end }}
{{- end }}
