name: Automationtests Build

on:
  release:
    types: [published]
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_call:
  workflow_dispatch:
    inputs:
      message:
        description: 'Message for manually triggering'
        required: false
        default: 'Triggered for Updates'
        type: string
  push:
    branches:
      - '!release-branch'
      - master
      - 1.*
      - develop*
      - MOSIP*
      - release*

jobs:
  build-maven-apitest-commons:
    uses: mosip/kattu/.github/workflows/maven-build.yml@master
    with:
      SERVICE_LOCATION: ./apitest-commons
      BUILD_ARTIFACT: apitest-commons
    secrets:
      OSSRH_USER: ${{ secrets.OSSRH_USER }}
      OSSRH_SECRET: ${{ secrets.OSSRH_SECRET }}
      OSSRH_TOKEN: ${{ secrets.OSSRH_TOKEN }}
      GPG_SECRET: ${{ secrets.GPG_SECRET }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}

  publish_to_nexus:
    if: "${{ !contains(github.ref, 'master') && github.event_name != 'pull_request' && github.event_name != 'release' && github.event_name != 'prerelease' && github.event_name != 'publish' }}"
    needs: build-maven-apitest-commons
    uses: mosip/kattu/.github/workflows/maven-publish-to-nexus.yml@master
    with:
      SERVICE_LOCATION: ./apitest-commons
    secrets:
      OSSRH_USER: ${{ secrets.OSSRH_USER }}
      OSSRH_SECRET: ${{ secrets.OSSRH_SECRET }}
      OSSRH_URL: ${{ secrets.OSSRH_SNAPSHOT_URL }}
      OSSRH_TOKEN: ${{ secrets.OSSRH_TOKEN }}
      GPG_SECRET: ${{ secrets.GPG_SECRET }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}

# api test commons is not migrated to java 21 so commenting out for now so that auth demo service sonar will work.

#  sonar_analysis:
#    needs: build-maven-apitest-commons
#    if: "${{  github.event_name != 'pull_request' }}"
#    uses: mosip/kattu/.github/workflows/maven-sonar-analysis.yml@master
#    with:
#      SERVICE_LOCATION: ./apitest-commons
#    secrets:
#      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
#      ORG_KEY: ${{ secrets.ORG_KEY }}
#      OSSRH_USER: ${{ secrets.OSSRH_USER }}
#      OSSRH_SECRET: ${{ secrets.OSSRH_SECRET }}
#      OSSRH_TOKEN: ${{ secrets.OSSRH_TOKEN }}
#      GPG_SECRET: ${{ secrets.GPG_SECRET }}
#      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}

  build-maven-authentication-demo-service:
    uses: mosip/kattu/.github/workflows/maven-build.yml@master-java21
    with:
      SERVICE_LOCATION: ./authentication-demo-service
      BUILD_ARTIFACT: authentication-demo-service
    secrets:
      OSSRH_USER: ${{ secrets.OSSRH_USER }}
      OSSRH_SECRET: ${{ secrets.OSSRH_SECRET }}
      OSSRH_TOKEN: ${{ secrets.OSSRH_TOKEN }}
      GPG_SECRET: ${{ secrets.GPG_SECRET }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}

  sonar_analysis-authentication-demo-service:
    needs: build-maven-authentication-demo-service
    if: "${{  github.event_name != 'pull_request' }}"
    uses: mosip/kattu/.github/workflows/maven-sonar-analysis.yml@master-java21
    with:
      SERVICE_LOCATION: ./authentication-demo-service
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      ORG_KEY: ${{ secrets.ORG_KEY }}
      OSSRH_USER: ${{ secrets.OSSRH_USER }}
      OSSRH_SECRET: ${{ secrets.OSSRH_SECRET }}
      OSSRH_TOKEN: ${{ secrets.OSSRH_TOKEN }}
      GPG_SECRET: ${{ secrets.GPG_SECRET }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
